/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

#form{
    width:70%;
    left:50%;
    position:relative;
    transform: translate(-50%);
    top: 50px;
}
#submit{
    margin-top: 10px;
}